{% block content %}
    <h2>Rikishi</h2>
    <p>
        <a href="{{ toggle_url }}">
            {% if active_only %}Show all{% else %}Show active{% endif %}
        </a>
    </p>
    <table id="rikishi-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Japanese</th>
            </tr>
        </thead>
        <tbody>
            {% include "partials/rikishi_rows.html" %}
        </tbody>
    </table>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
{% endblock %}
